* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 46.9%;
  }

  @include respond(phone) {
    font-size: 60%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  font-family: monospace, Average, serif;
  background-color: $color-grey-lighter;
  box-sizing: border-box;
}
