.hamburger-menu {
  display: none;
  position: absolute;
  top: 2rem;
  right: 2rem;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;

  @include respond(phone) {
    display: block;
  }

  &--icon {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }
}
