.search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 60%;
  opacity: 0.85;
  transition: all 0.3s;

  @include respond(phone) {
    width: 90%;
  }

  &__input {
    border: 2px solid transparent;
    border-radius: 5rem;
    background-color: white;
    padding: 1.5rem 7.5rem;
    outline: none;
    font-family: inherit;
    font-size: 2rem;
    width: 95%;
    transition: all 0.2s;

    &:focus {
      width: 100%;
      color: $color-font-primary;
      border: 2px solid $color-salmon-primary;
      box-shadow: 0 1rem 2rem rgba(black, 0.1);
    }

    &::-webkit-input-placeholder {
      font-size: $font-size-primary;
      text-transform: uppercase;
      color: $color-font-lighter;
    }
  }
  &__btn {
    display: block;
    font-family: inherit;
    font-weight: bold;
    color: $color-font-primary;
    text-transform: uppercase;
    padding: 0.5rem 0.5rem;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;

    position: absolute;
    top: 30%;
    left: 4%;
  }

  &__icon {
    height: 1.9rem;
    width: 1.9rem;
  }
}
