.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);

  @include respond(phone) {
    justify-content: space-between;
  }

  &__logo {
    width: 15rem;
    height: 10rem;
    margin-left: 4rem;

    @include respond(tab-port) {
      width: 10rem;
      height: 6.5rem;
      margin-left: 2rem;
    }

    @include respond(phone) {
      width: 8rem;
      height: 5rem;
    }
  }
  &__img {
    height: 100%;
    width: 100%;
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: stretch;

  &__list {
    display: flex;
    list-style-type: none;
  }

  &__add-recipe--btn,
  &__favourites--btn {
    height: 100%;
  }

  @include respond(phone) {
    display: none;
  }
}